extends layout
block content  
    div
        form(method="GET")
        textarea(placeholder="Name of Player 1" id="player1name")
        br
        textarea(placeholder="Name of Player 2" id="player2name") 
        br
        button(onclick="newGame()" type="button")
          | Start    
        #game-board
            script restoreGame();