extends layout
block content  
    div
        form(method="GET")
        textarea()
        br
        textarea() 
        br
        button(onclick="newGame()" type="button")
          | Start    
        #game-board
            script restoreGame();